@tailwind base;
@tailwind components;
@tailwind utilities;

.cute-scroll::-webkit-scrollbar {
  width: .1rem;
  height: .1rem;
}
.cute-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2rem rgba(121, 206, 255, 0.548);
}
.cute-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(63, 63, 63, 0.884);
  outline: rgba(6, 29, 46, 0.884);
}

.cute-scroll-bold::-webkit-scrollbar {
  width: .5rem;
}
.cute-scroll-bold::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4rem rgba(102, 136, 156, 0.548);
}
.cute-scroll-bold::-webkit-scrollbar-thumb {
  background-color: rgba(63, 63, 63, 0.884);
  outline: rgba(6, 29, 46, 0.884);
}