@tailwind base;
@tailwind components;
@tailwind utilities;

.cute-scroll::-webkit-scrollbar {
  width: .1rem;
}
.cute-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2rem rgba(121, 206, 255, 0.548);
}
.cute-scroll::-webkit-scrollbar-thumb {
  /* background-color: rgba(41, 116, 170, 0.884); */
  background-color: rgba(63, 63, 63, 0.884);
  outline: rgba(6, 29, 46, 0.884);
}